.DS_Store
._*
*.pyc
build
.ipynb_checkpoints
*.mp4
kitti/
other-vo/
*.heic
video_odometry/jupyter/arducam/*.pkl
*.pkl
old

messages/cpp
messages/python

archive
MadgwickAHRS*
other

__pycache__

*.bz2
*.zip
*.log

c_library_v*

secrets.cmake
